.drop-container {
  display: flex;
  align-self: center;
  justify-content: flex-start;
  position: relative;
}

.drop-container__closeBtn {
  transition: opacity 0.5s;
  z-index: 2;
  cursor: pointer;
  width: 15px;
  height: 15px;
  position: absolute;
  background-size: cover;
  top: 15px;
  right: 10px;
}

.drop-container__searchIcon {
  width: 15px;
  height: 15px;
  position: absolute;
  background-size: cover;
  top: 15px;
  left: 10px;
}

svg {
  fill: #c7c7c7;
}

.drop-container__closeBtn:hover svg {
  fill: #36a3e6;
}

.drop-container__closeBtn-hidden {
  transition: opacity 0.5s;
  opacity: 0;
}

.drop-container__input {
  width: 100%;
  min-width: 150px;
  min-height: 43px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
  padding: 0 30px;
}

.drop-container__list--open {
  z-index: 999;
  border: 1px solid rgb(219, 232, 239);
  box-shadow: 0px 4px 13px 0px rgba(53, 127, 209, 0.26);
  background-color: white;
  width: 100%;
  transition: opacity 0.5s;
  position: absolute;
  top: 43px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 400px;
}

.drop-container__list--closed {
  visibility: hidden;
  z-index: 999;
  border: 1px solid #ccc;
  width: 100%;
  min-height: 100px;
  transition: opacity 0.5s;
  position: absolute;
  top: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.drop-container__item {
  outline: 0;
  background: #fff;
  border: 0;
  padding: 8px;
  cursor: pointer;
  color: #989898;
  font-family: sans-serif;
  font-size: 12px;
}

.drop-container__item::first-letter {
  color: #090909;
}

.drop-container__item:not(:last-child) {
  border-bottom: 1px solid #d6d6d6;
}

.drop-container__item:hover {
  background-color: #d6eeff;
}

.drop-container__item-hidden {
  visibility: hidden;
}
